/* Home */
#home {
  background: rgb(17, 171, 218);
}

/* Cards */
.card {
  transition: all 0.5s ease;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Form */
.form {
  background: rgb(252, 113, 0);
}

#about {
  background: rgb(17, 171, 218);
}
#Vision {
  background: rgb(48, 211, 7);
}
#Partners {
  background: rgb(240, 148, 9);
}
#charities {
  background: rgb(17, 171, 218);
}

#Volunteers{
  background: rgb(17, 171, 218);
}

Footer{
  background: rgb(14, 13, 13);
}